#navBar{
    background-color: rgb(64, 63, 63);

}
#fotoPrincipal{
    
    filter: brightness(50%);
    border-radius: 0%;
}
#textoPrincipal{
    
    text-align: right;
    padding-top: 40%;
    padding-left: 50%;

}
#contenedorCards{
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    margin-bottom: 3%;
}
.subtitulos{
    text-align: center;
}
h5{
    padding-top: 2%;
}
footer{
    width: 100%;
   
    background-color: rgb(45, 45, 65);
   padding: 1%;

}
footer ul li{
    display: inline;
    
    
    justify-content: space-evenly;
    padding-left: 2%;
    padding-right: 2%;
   
    

}
footer ul{
    list-style: none;
   text-align: center;
}
footer ul li a{
    text-decoration: none;
    color: rgb(234, 246, 242);
}

form{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}
.oracion{
    text-align: center;
    padding-bottom: 2%;
}
.oracion2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: darkgrey;
}
#tarjetasSecundarias{
    background-color: darkslategrey;
    color: aliceblue;
    
   
}

#tarjetasCompra{
    
    margin: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

#letraChica{
    font-size: small;
}

.tituloVenta{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 100%;

}

.valorTicket{
    font-size: 44px;
    font-weight: bold;
}

#botonResumen{
    border-color: rgb(96, 192, 1);
    background-color: rgb(96, 192, 1);
    
   
}

#botonBorrar{
    border-color: rgb(96, 192, 1);
    color:  rgb(96, 192, 1);
    background-color: white;
}

